<h2>Helfen</h2>
<p>Wir freuen uns über jede Unterstützung, die uns hilft, das Projekt weiterzuentwickeln und zu verbreiten.</p>
<p>Wenn Sie uns unterstützen möchten, können Sie das auf folgende Weise tun:</p>
<h3>Feedback</h3>
<p>Wir freuen uns über Ihr Feedback. Schreiben Sie uns, was Ihnen gefällt und was nicht. Wir sind offen für Anregungen und Kritik.</p>
<h3>Entwicklung</h3>
<p>Wenn Sie Entwickler sind, können Sie uns helfen, das Projekt weiterzuentwickeln. Das Projekt ist Open Source und wir freuen uns über Pull Requests und Ideen für neue Plattformen</p>
<h3>Verbreitung</h3>
<p>Wenn Sie das Projekt gut finden, können Sie uns helfen, es zu verbreiten. Erzählen Sie anderen von uns und teilen Sie unsere Inhalte in den sozialen Medien.</p>
<h3>Finanzielle Unterstützung</h3>
<p>Wenn Sie uns finanziell unterstützen möchten, können Sie das über <a href="https://www.paypal.com/paypalme/Dsigmund" target="_blank">PayPal</a> tun.</p>
<h4>Aktuelle Kosten</h4>
<table>
  <tr>
    <th>Art</th>
    <th>Betrag</th>
  </tr>
  <tr>
    <td>Serverkosten</td>
    <td>10€/Monat</td>
  </tr>
  <tr>
    <td>Domainkosten</td>
    <td>20€/Jahr</td>
  </tr>
</table>
<h3>Gebet</h3>
<p>Wir glauben, dass Gebet eine wichtige Form der Unterstützung ist. Wir freuen uns über Ihr Gebet für das Projekt und die Menschen, die daran arbeiten.</p>