<h2>Kontakt</h2>
<p>Wenn Sie uns kontaktieren möchten, können Sie das auf folgende Weise tun:</p>
<h3>Feedback</h3>
<p>Wir freuen uns über Ihr Feedback. Schreiben Sie uns, was Ihnen gefällt und was nicht. Wir sind offen für Anregungen und Kritik.</p>
<p><a href="mailto:info@segen-des-tages.de?subject=Segen%20des%20Tages%20%3A%3A%20Feedback">Sende Feedback-E-Mail</a></p>
<hr/>
<h3>Kritik</h3>
<p>Wenn Sie Kritik an unserem Projekt haben, können Sie uns das gerne mitteilen. Wir sind offen für konstruktive Kritik und wollen uns stetig verbessern.</p>
<p><a href="mailto:info@segen-des-tages.de?subject=Segen%20des%20Tages%20%3A%3A%20Kritik">Sende Kritik-E-Mail</a></p>