<div fxLayout="column" fxFlexFill id="content">
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <img src="assets/logo.png" alt="Logo" class="logo" [routerLink]="['/home']"/>
  <span class="title"><a [routerLink]="'/home'">Segen des Tages</a></span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" (click)="sidenav.toggle()"> Start </a>
      <a mat-list-item [routerLink]="'/kalender'" (click)="sidenav.toggle()"> Kalender </a>
      <a mat-list-item [routerLink]="'/alle'" (click)="sidenav.toggle()"> Alle Segenssprüche </a>
      <a mat-list-item [routerLink]="'/ueber'" (click)="sidenav.toggle()"> Über das Projekt </a>
      <a mat-list-item [routerLink]="'/helfen'" (click)="sidenav.toggle()"> Helfen</a>
      <a mat-list-item [routerLink]="'/kontakt'" (click)="sidenav.toggle()"> Kontakt </a>
      <hr/>
      <a  mat-list-item href="https://webdad.eu" target="_blank"> WebDaD.eu</a>
      <a  mat-list-item href="https://github.com/Segen-des-Tages" target="_blank"> Source Code </a>
      <hr/>
      <mat-list-item disabled disableRipple>Version: {{version}}</mat-list-item>
      <hr/>
      <mat-list-item (click)="sidenav.toggle()">Schließen</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main fxFlex #content>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <p>
    <a [routerLink]="'/impressum'">Impressum</a>
    |
    <a [routerLink]="'/datenschutz'">Datenschutz</a>
  </p>
</footer>
</div>