.blessing {
  font-size: 2em;
  font-weight: bold;
}
.date {
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #4bb04f;
  padding: 10px;
  display: inline-block;
  background-color: #4bb04f;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 0;
}
button {
  margin-left: 5px;
  margin-right: 5px;
}

