<p class="date">{{date | date: "dd.MM.YYYY"}}</p>
<p class="blessing">{{blessingOfTheDay}}</p>
<share-buttons
  [theme]="'material'"
  [include]="['facebook','twitter','whatsapp','email','print','copy','linkedin','pinterest','reddit','tumblr','mix','viber','vk','telegram','messenger','xing','line','sms']"
  [show]="6"
  [showText]="true"
  [url]=shareURL
  [title]=shareTitle
  [description]=blessingOfTheDay
  [autoSetMeta]="true">
</share-buttons>
<p class="description">Entdecken Sie tägliche Segenssprüche, die Ihr Herz berühren und Ihren Geist inspirieren. Eine Quelle der Hoffnung und des Lichts für jeden Tag.</p>
<hr class="link"/>
<p class="link">{{shareURL}}</p>

